VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your_form_id
VITE_CONTACT_EMAIL=brayhanguerratrabajo@gmail.com
VITE_GOOGLE_CALENDAR_URL=https://calendar.google.com/calendar/u/0/appointments/schedules/your_schedule_id
VITE_BOOKING_OWNER_EMAIL=brayhanguerratrabajo@gmail.com
VITE_SESSION_DURATION=30 minutos
