VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/mnjojvpe
VITE_FORMSPREE_CONTACT_ENDPOINT=https://formspree.io/f/mnjojvpe
VITE_FORMSPREE_RESOURCES_ENDPOINT=https://formspree.io/f/xzdkllyw
VITE_CONTACT_EMAIL=brayhanguerratrabajo@gmail.com
VITE_GOOGLE_CALENDAR_URL=https://calendar.app.google/waBp78cxKbWBGf7e8
VITE_BOOKING_OWNER_EMAIL=brayhanguerratrabajo@gmail.com
VITE_SESSION_DURATION=30 minutos
VITE_FREE_RESOURCE_PDF_URL=/resources/pdfrecursos.pdf
